body{
    font-family: font-family'Comic Sans MS', 'Comic Sans', cursive;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.main-container, .game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    text-align: center;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow:0 0 10px  rgba(0, 0, 0, 0.1); ;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo{
    height: 50px;

}
content{
    max-width: 600px;

}
.tagline{
    font-size: 1.2em;
    color: #666;
}

.description{
    font-size: 1em;
    margin: 20px 0;
}
.game-image{
    width: 100%;
    max-width: 300px;
    margin: 20px 0
}
footer{
    margin-top: 20px;

}
.social-media a{
    margin: 0 10px;

}
.social-media img{
    height: 30px;
}
input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1 px solid chocolate;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: aqua;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition:background-color 0.4s ;
    -webkit-transition:background-color 0.4s ;
    -moz-transition:background-color 0.4s ;
    -ms-transition:background-color 0.4s ;
    -o-transition:background-color 0.4s ;
}

button:hover{
    background-color: aquamarine;
}
#game{
    margin: 20px 0;
}

#nextlevel{
    margin-top: 20px;
}