body {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0f0f0; 
}

.main-container, .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow: hidden; 
    background: linear-gradient(to bottom, #8EC5FC, #E0C3FC); 
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ffcccb; 
    padding: 15px 30px; 
    border-radius: 10px 10px 0 0;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    padding: 20px;
    height: 70px;

}

.title {
    font-size: 2.1em;
    font-weight: bold;
}

.content {
    max-width: 600px;
    width: 100%;
    margin-top: 20px; /* Memberikan jarak antara header dan konten */
}

.tagline {
    font-size: 1.4em; /* Ukuran font yang lebih besar */
    color: #555;
}

.description {
    font-size: 1.1em;
    margin: 20px 0;
}

.game-image {
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
    border: 5px solid #fff; /* Border putih untuk memberikan kontras */
    border-radius: 10px;
}

.start-game-button {
    padding: 12px 24px; /* Padding yang lebih besar untuk kesan tombol yang lebih menonjol */
    background-color: #ffcccb;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.start-game-button a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.start-game-button:hover {
    background-color: #ffb6b9; /* Warna hover yang sedikit berbeda */
}

footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    background-color: #ffcccb;
    padding: 15px 30px; 
    border-radius: 0 0 10px 10px;
    color: #333;
    margin-top: auto;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.social-media {
    display: flex;
}

.social-media a {
    margin: 0 10px;
}

.social-media img {
    height: 30px; /* Ukuran ikon yang sama untuk konsistensi */
}

.developer-profile {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.developer-profile a {
    padding: 12px 24px; /* Padding yang lebih besar */
    background-color: #4CAF50;
    color: #fff; /* Warna teks putih untuk kontras */
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.4s;
}

.developer-profile a:hover {
    background-color: #45a049;
}
.copyRight{
    text-align: right;
    margin: 0;
}